.light {
    background-image: linear-gradient(#ffd8a6,#fc8210 );
}

.dark {
    /* color: aliceblue; */
    background-image: linear-gradient(#00263b,#ff5200 );
}
h2 {
    display: block;
    text-align: center;
}
.buldge:hover {
    transform: scale(1.5) translateX(2px);
    opacity: 0.6;
}
.buldge_cards:hover {
    transform: scale(1.1);
    z-index: 1;
}
.curve_borders {
    clip-path: polygon(0 0 , 95% 0, 100% 5% , 100% 100%, 0 100%);
    /* clip-path: inset(); */
}